<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Chat With Chef</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
      
       
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <div class="chat-box">
      <div class="message-area">
        <div  class="message incoming" *ngFor="let message of messages">
          <p >{{message}}</p>
        </div>
        <div class="message outgoing" *ngFor="let message of outmessages" >
          <p>{{message}}</p>
        </div>
      </div>
      <div class="emo-area">
        <!-- emoji-panel component comes here -->
      </div>
      <div class="input-area">
        <form (submit)="sendMessage()" name="messageForm" #messageForm="ngForm">
          <ion-input type="text" name="message" id="message" [(ngModel)]="message" placeholder="Say something nice..."></ion-input>
          <button>
            <ion-icon name="send"></ion-icon>
          </button>
        </form>
      </div>
    </div>
  </div>

</ion-content>
